examples/ws/soap/StoreExample/StoreServer/WebContent/wsdl/MyStoreServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="buyItems">
    <complexType>
     <sequence>
      <element name="item" type="xsd:string"/>
      <element name="quantity" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyItemsResponse">
    <complexType>
     <sequence>
      <element name="buyItemsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayContent">
    <complexType/>
   </element>
   <element name="displayContentResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="buyItemsResponse">

      <wsdl:part element="impl:buyItemsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayContentRequest">

      <wsdl:part element="impl:displayContent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyItemsRequest">

      <wsdl:part element="impl:buyItems" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayContentResponse">

      <wsdl:part element="impl:displayContentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MyStoreServer">

      <wsdl:operation name="buyItems">

         <wsdl:input message="impl:buyItemsRequest" name="buyItemsRequest">

       </wsdl:input>

         <wsdl:output message="impl:buyItemsResponse" name="buyItemsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayContent">

         <wsdl:input message="impl:displayContentRequest" name="displayContentRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayContentResponse" name="displayContentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyStoreServerSoapBinding" type="impl:MyStoreServer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buyItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buyItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buyItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayContent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayContentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayContentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyStoreServerService">

      <wsdl:port binding="impl:MyStoreServerSoapBinding" name="MyStoreServer">

         <wsdlsoap:address location="http://localhost:8080/StoreServer/services/MyStoreServer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
